<!DOCTYPE html>
<html lang="PL-pl">

<head>
	<title>GDMS</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
</head>

<body class="body" style="background-color:#C2BFBF">
	<div>
		<h1 style="text-align: center">Przeglądanie tabeli</h1>

	   	<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
			<div class="well bs-sidebar" id="sidebar" style="background-color:#412525">
			  <ul class="nav nav-pills nav-stacked">
              <li><a href='/edit' style="color:#DC143C">Edytuj</a></li>
              <li><a href='/browse/item'>Items</a></li>
              <li><a href='/browse/skills'>Skills</a></li>
              <li><a href='/browse/players'>Players</a></li>
              <li><a href='/browse/character'>Characters</a></li>
              <li><a href='/browse/npcs'>Npcs</a></li>
              <li><a href='/browse/config'>Config</a></li>
              <li><a href='/browse/locale'>Localization</a></li>
              <li><a href='/browse/inv'>Inventories</a></li>
              <li><a href='/browse/skillbook'>Skillbooks</a></li>
			    <li><a href='/logout'>Wyloguj</a></li>
			  </ul>
			</div> 
		  </div>
		  <br>
		  <br>
        {{name}}

		<table class="table-bordered" width="70%">
		  <thead>
		    <tr>
                {% for obj in collumns %}
                <h5><th scope="col">{{ obj }}</th></h5>
                {% endfor %}
		    </tr>
		  </thead>
		  <tbody>
            {% for obj in data%}
		    <tr>
                {% if name == 'item' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.desc}}</td>
                  <td>{{obj.type}}</td>
                {% elif name == 'skills' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.desc}}</td>
                  <td>{{obj.type}}</td>
                {% elif name == 'item' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.desc}}</td>
                  <td>{{obj.type}}</td>
                {% elif name == 'item' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.desc}}</td>
                  <td>{{obj.type}}</td>
                {% elif name == 'item' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.desc}}</td>
                  <td>{{obj.type}}</td>
                {%endif%}

		    </tr>
            {% endfor %}
		  </tbody>
		</table>	
	</div>
</body>

</html>