<!DOCTYPE html>
<html lang="PL-pl">

<head>
	<title>GDMS</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
</head>

<body class="body" style="background-color:#C2BFBF">
	<div>
		<h1 style="text-align: center">Przeglądanie tabeli</h1>

	   	<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
			<div class="well bs-sidebar" id="sidebar" style="background-color:#412525">
              <h5>Wybierz tabelę do edycji:</h5>
			  <ul class="nav nav-pills nav-stacked">
              <li><a href='/browse/item'>Items</a></li>
              <li><a href='/browse/skills'>Skills</a></li>
              <li><a href='/browse/players'>Players</a></li>
              <li><a href='/browse/character'>Characters</a></li>
              <li><a href='/browse/npcs'>Npcs</a></li>
              <li><a href='/browse/enemies'>Enemies</a></li>
              <li><a href='/browse/config'>Config</a></li>
              <li><a href='/browse/locale'>Localization</a></li>
              <li><a href='/browse/inv'>Inventories</a></li>
              <li><a href='/browse/skillbook'>Skillbooks</a></li>
			    <li><a href='/logout'>Wyloguj</a></li>
			  </ul>
			</div> 
		  </div>
		  <br>
		  <br>

		<table class="table-bordered" width="70%">
            <h2 style="text-align: center">{{viewName}}</h2>

          <a href=/edit/{{name}}><span class="glyphicon glyphicon-plus"></span>Add new</a>

		  <thead>
		    <tr>
                {% for obj in collumns %}
                <h5><th scope="col">{{ obj }}</th></h5>
                {% endfor %}
                <h5><th scope="col">Edit</th></h5>
		    </tr>
		  </thead>
		  <tbody>
            {% for obj in data%}
		    <tr>
                {% if name == 'item' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.desc}}</td>
                  <td>{{obj.type}}</td>
                  <td>{{obj.damage}}</td>
                {% elif name == 'npcs' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.spriteID}}</td>
                  <td>{{obj.skills}}</td>
                {% elif name == 'skills' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.desc}}</td>
                  <td>{{obj.req_lvl}}</td>
                  <td>{{obj.damage}}</td>
                  <td>{{obj.is_targeted}}</td>
                  <td>{{obj.is_aoe}}</td>
                  <td>{{obj.is_passive}}</td>
                {% elif name == 'players' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.user_id}}</td>
                {% elif name == 'characters' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.owner_id}}</td>
                {% elif name == 'config' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.database_ver}}</td>
                  <td>{{obj.game_ver}}</td>
                  <td>{{obj.exp_mmult}}</td>
                {% elif name == 'locale' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.default_transl}}</td>
                  <td>{{obj.en_transl}}</td>
                  <td>{{obj.pl_transl}}</td>
                {% elif name == 'inv' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.item_base_id}}</td>
                  <td>{{obj.item_owner_id}}</td>
                {% elif name == 'enemies' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.name}}</td>
                  <td>{{obj.modelID}}</td>
                  <td>{{obj.damage}}</td>
                  <td>{{obj.speed}}</td>
                  <td>{{obj.health}}</td>
                  <td>{{obj.vision_range}}</td>
                  <td>{{obj.chase_range}}</td>
                {% elif name == 'skillbook' %}
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.skill_base_id}}</td>
                  <td>{{obj.skill_owner_id}}</td>
                {%endif%}
                  <td><a href=/edit/{{name}}_{{obj.id}}><span class="glyphicon glyphicon-pencil"></span></a>/
                  <a href=/remove/{{name}}_{{obj.id}}><span class="glyphicon glyphicon-trash"></span></a></td>
		    </tr>
            {% endfor %}
		  </tbody>
		</table>

	</div>
</body>

</html>