{% extends 'mainGDMS/home.html' %}


    {% block head %}

    <title>Confirm</title>

    {% endblock %}



{% block body %}
<div>
	<div class="container">
		<div class="row">
    		<div class="col" style="width: 30%; margin: 0 auto; text-align: center;">
        		<h2 style="color:#FF0000">Czy jesteś pewien że chcesz usunąć ten element?</h2>
                <button type="button" onclick="window.location.href='/remove/{{whatToRemove}}'" class="save btn btn-default" position="fixed">Tak</button>
		<button type="button" onclick="window.location.href='/browse'" class="save btn btn-default" position="fixed">Nie</button>
   			</div>
		</div>
	</div>
</div>

{% endblock %}