<!DOCTYPE html>
<html lang="PL-pl">

<head>
	<title>EdycjaTabeli</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
</head>

<body class="body" style="background-color:#C2BFBF">
	<div>
		<h1 style="text-align: center">Edycja tabeli</h1>

	   	<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
			<div class="well bs-sidebar" id="sidebar" style="background-color:#412525">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/' style="color:#DC143C">Save</a></li>
				<li><a href='/' style="color:#DC143C">Discard</a></li>
				<li><a href='/'>Delete Rows</a></li>
				<li><a href='/'>Add Row</a></li>
				<li><a href='/'>Undo</a></li>
			  </ul>
			</div> 
		  </div>
		  <br>
		  <br>
		<table class="table-bordered" width="70%">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col"> </th>
		      <th scope="col">Data1</th>
		      <th scope="col">Data2</th>
		      <th scope="col">Data3</th>
		      <th scope="col">Data4</th>
		      <th scope="col">Data5</th>
		      <th scope="col">Data6</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		    <tr>
		      <th scope="row">4</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		    <tr>
		      <th scope="row">5</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		    <tr>
		      <th scope="row">6</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		    <tr>
		      <th scope="row">7</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		    <tr>
		      <th scope="row">8</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		    <tr>
		      <th scope="row">9</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		    <tr>
		      <th scope="row">10</th>
		      <td style="text-align:center; vertical-align:middle;"><input type="checkbox"></td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		      <td>DATA</td>
		    </tr>
		  </tbody>
		</table>	
	</div>
</body>

</html>