<!DOCTYPE html>
<html lang="PL-pl">

<head>
	<title>Edycja elementu</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
</head>

<body class="body" style="background-color:#C2BFBF">
	<div>
		<h1 style="text-align: center">Edycja elementu</h1>

			<h1>Dodaj/edytuj element {{name}}</h1>
    		<form method="POST" class="enemy-form">{% csrf_token %}
        	{{ form.as_p }}
        		<button type="submit" class="save btn btn-default">Zapisz</button>
				<button type="reset" class="save btn btn-default">Resetuj</button>
				<button type="button" onclick="window.location.href='/browse'" class="save btn btn-default">Odrzuć</button>
			</form>
</body>

</html>